/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* variables */

:root {
    --lavender: #D8DDEF;
    --accent-pink: #f96d87;
    --background-beige: #f9f8f2;
    --text-black: #27232C;
    font-family: 'Kanit', sans-serif;
}

/* style */

body {
    display: grid;
    grid-template-columns: minmax(200px, 300px) 5fr;
    grid-template-rows: 50px auto;
    height: 100dvh;
    background-color: var(--background-beige);
    color: var(--text-black);
}

header {
    background-color: var(--accent-pink);
    grid-column: 1/3;
    color: white;
    display: grid;
    grid-template-columns: minmax(200px, 300px) 5fr;
}

.logo-name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    grid-column: 1/2;
    font-size: 1.2rem;
}

.dummy {
    grid-column: 2/3;
    display: inline-block;
}

aside {
    border-right: var(--accent-pink) 1px solid;
}

#task-template {
    display: none;
}