/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* variables */

:root {
    --lavender: #D8DDEF;
    --accent-pink: #f96d87;
    --opaque-pink: #fadfe4;
    --background-beige: #f9f8f2;
    --text-black: #27232C;
    font-family: 'Kanit', sans-serif;
}

/* style */

body {
    display: grid;
    grid-template-columns: minmax(200px, 250px) 5fr;
    grid-template-rows: 50px auto;
    height: 100dvh;
    background-color: var(--accent-pink);
    color: var(--text-black);
    gap: 24px;
    padding: 24px;
    font-weight: 200;
}

header {
    background-color: var(--accent-pink);
    grid-column: 1/2;
    color: white;
    display: grid;
    grid-template-columns: minmax(200px, 250px) 5fr;
}


.logo-name {
    display: flex;
    align-items: center;
    gap: 1rem;
    grid-column: 1/2;
    font-size: 1.2rem;
    user-select: none;
}

aside {
    padding: 12px;
    grid-column: 1/2;
}

aside>h2 {
    padding: 0.4rem 0.8rem;
    font-size: 1.5rem;
}

.sidebar-folder {
    display: flex;
    align-items: center;
    padding: 0.8rem;
    gap: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 12px;
    width: 100%;
    background-color: transparent;
    border: none;
    outline-color: var(--accent-pink);
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
}

.folder-icon {
    height: 25px;
}

.sidebar-folder:hover {
    background-color: var(--opaque-pink);
}

main {
    padding: 24px 36px;
    grid-row: 1/3;
    grid-column: 2/3;
    overflow: auto;
}

aside,
main {
    background-color: var(--background-beige);
    border-radius: 24px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.main-content {
    max-height: 100%;
    overflow: auto;
}

h1 {
    margin-bottom: 0.8rem;
}

#task-template {
    /* display: none; */
}

#tasks-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 900px;
    margin: 0 auto 1rem;
}

.task {
    display: flex;
    gap: 0.5rem;
    padding-bottom: 0.3rem;
    border-bottom: #f96d87 1px dashed;
}

.task-vertical {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.task-vertical>label {
    cursor: pointer;
    text-wrap: balance;
}

.task-horisontal {
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

.task-checkbox-wrapper {
    line-height: 1.2;
}

.task-checkbox {
    cursor: pointer;
    position: relative;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    vertical-align: bottom;
}

.task-checkbox>svg {
    pointer-events: none;
    cursor: pointer;
    background-color: var(--background-beige);
}

.task-checkbox>input[type='checkbox'],
.task-checkbox>svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.task-checkbox>input[type='checkbox']:checked~svg.unchecked {
    display: none;
}

.task-checkbox>input[type='checkbox']:not(:checked)~svg.checked {
    display: none;
}

.task-checked{
    color: grey;
    text-decoration: line-through;
    font-style: italic;
    font-weight: 200;
}

/* MAKE THIS WITH JAVASCRIPT*/

.dom-task-name {
    font-weight: 400;
    user-select: none;
}

.description {
    font-size: 0.8rem;
    text-wrap: balance;
}

.deadline {
    align-self: center;
    font-size: 0.8rem;
    white-space: nowrap;
}

#new-task-form,
#new-folder-form {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--accent-pink);
    border-radius: 12px;
    padding: 1rem;
    max-width: 900px;
    margin: 0 auto;
    gap: 0.1rem;
}

#new-task-form>*,
#new-folder-form>*,
.form-buttons>* {
    font-family: 'Kanit', sans-serif;
    background-color: var(--background-beige);
    border: none;
    outline-color: var(--accent-pink);
    outline-width: 1px;
}

#new-folder-form {
    padding: 0.8rem;
}

#task-name,
#task-desc,
#input-folder-name {
    padding: 0.3rem;
}

#task-name::placeholder,
#input-folder-name::placeholder {
    font-size: 1rem;
    padding: 0;
}

#task-desc::placeholder {
    font-weight: 200;
    padding: 0;
}

#task-deadline {
    width: fit-content;
    display: inline-block;
    height: 20px;
    margin-left: 0.3rem;
}

#submit,
#add-folder-button,
#cancel {
    background-color: var(--accent-pink);
    color: var(--background-beige);
    padding: 0.3rem;
    border-radius: 6px;
    margin-top: 0.5rem;
    margin-left: 0.3rem;
    outline-color: var(--text-black);
    cursor: pointer;
}


.add-folder {
    padding: 0.8rem;
}

.add-task {
    padding: 0.5rem 0;
}

.add-task,
.add-folder {
    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    outline-color: var(--accent-pink);
    border-radius: 6px;
}

.add-task:hover,
.add-folder:hover {
    background-color: var(--opaque-pink);
}

#submit,
#cancel {
    min-width: 3.5rem;
}

#add-folder-button {
    width: 30%;
}

.hidden {
    display: none !important;
}